.bannerTop{
    background-image: url("https://image.freepik.com/free-vector/2022-new-year-sign-black-numbers-2022-with-golden-glitter-numbers-black-background-vector-luxury-text-2022-happy-new-year_145391-812.jpg");
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    position: relative;
    width: 100%;
    height: 100%;
}

.btn-custom{
    background: linear-gradient(45deg, #303f9f,#7b1fa2) !important;
    color: white;
    box-shadow: 0 4px 20px 0px rgb(0 0 0 / 14%), 0 7px 12px -5px rgb(156 39 176 / 46%) !important;
}
.btn-custom:hover{
    color: white;
    background: linear-gradient(45deg,#7b1fa2, #303f9f) !important;
}
.btn-custom-2{
    /* background: linear-gradient(45deg,#0288d1,#26c6da) !important; */
    /* background: linear-gradient(45deg,#f11504,#e8508f) !important; */
    background: linear-gradient(45deg,#ec0554,#f7538a) !important;
    color: white;
    /* box-shadow: 0 2px 2px 0 rgb(0 188 212 / 14%), 0 3px 1px -2px rgb(0 188 212 / 20%), 0 1px 5px 0 rgb(0 188 212 / 12%); */
    /* box-shadow: 0 14px 26px -12px rgb(244 67 54 / 42%), 0 4px 23px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(244 67 54 / 20%); */
    box-shadow: 0 14px 26px -12px rgb(233 30 99 / 42%), 0 4px 23px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(233 30 99 / 20%);
}
.btn-custom-2:hover{
    background: linear-gradient(45deg,#f7538a,#ec0554) !important;
    color: white;
}

.card-hover{
    border: 1px solid white !important;
}
.card-hover:hover{
    transform:scaleY(1.05);
    transition: 0.4s ease;
    border: 1px solid #764ABC !important;
}

.custom-form input{
border-radius: 15px !important;
margin-bottom: 12px;
border: 1px solid #764ABC !important;
padding: 10px;
width: 100%;
}
.custom-form textarea{
border-radius: 15px !important;
margin-bottom: 12px;
border: 1px solid #764ABC !important;
padding: 10px;
width: 100%;
}
.custom-form select{
border-radius: 15px !important;
margin-bottom: 12px;
border: 1px solid #764ABC !important;
padding: 10px;
width: 100%;
}

.custom-form input:focus{
    outline: 1px solid #764ABC !important;
    box-shadow: 0 4px 20px 0px rgb(0 0 0 / 14%), 0 7px 12px -5px rgb(156 39 176 / 46%) !important;
    transition: 0.5s ease;
}
.custom-form textarea:focus{
    outline: 1px solid #764ABC !important;
    box-shadow: 0 4px 20px 0px rgb(0 0 0 / 14%), 0 7px 12px -5px rgb(156 39 176 / 46%) !important;
    transition: 0.5s ease;
}


/* hr{
    margin:auto;
    width: 20%;
    font-weight:bold;
    color: red;
    } */

.custom-margin{
    margin-bottom: -70px;
}

.custom-border{
    border: 1px solid #764ABC !important;
    border-radius: 10px;
    box-shadow: 0 4px 20px 0px rgb(0 0 0 / 14%), 0 7px 12px -5px rgb(156 39 176 / 46%) !important;
}